operationMode="REMOTE"
clientTransportIgnoreClusterName="true"
indexNamePrefix="liferay-"
httpCORSConfigurations=""
additionalConfigurations=""
httpCORSAllowOrigin="/https?://localhost(:[0-9]+)?/"
networkBindHost=""
transportTcpPort=""
syncSearch="true"
bootstrapMlockAll="false"
networkPublishHost=""
overrideTypeMappings=""
clientTransportSniff="false"
additionalIndexConfigurations=""
retryOnConflict="5"
httpCORSEnabled="true"
clientTransportNodesSamplerInterval="5s"
additionalTypeMappings=""
logExceptionsOnly="true"
httpEnabled="true"
networkHost="127.0.0.1"
transportAddresses="127.0.0.1:9300"
clusterName="elasticsearch"
discoveryZenPingUnicastHostsPort="9300-9400"
